@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --color-test: #d7d6e7;
}

@theme {
  --color-background: #f5f4ff; /* softer lavender, higher brightness */
  --color-foreground: #2d2b55; /* deep indigo for text */

  --color-primary: #a59cf0; /* mid lavender */
  --color-primary-darker: #4a3fb3; /* strong violet for buttons/headers */
  --color-primary-lighter: #eaebff;

  --color-secondary: #f9bece; /* pastel pink accent */
  --color-secondary-darker: #e68aa3; /* richer pink for hover/contrast */

  --color-shadow: #d7d6e7;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Poppins", sans-serif;
  }
}

@layer utilities {
  .primary-button {
    @apply rounded-lg cursor-pointer py-2 transition-all duration-300
          text-white  bg-primary-darker hover:bg-primary-darker/90
          disabled:opacity-50 hover:shadow-[0_0_10px_rgba(139,92,246,0.5)];
  }

  .secondary-button {
    @apply rounded-sm cursor-pointer  transition-all duration-300
          text-white text-xs  bg-primary-darker hover:bg-primary-darker/90
          disabled:opacity-50 hover:shadow-[0_0_10px_rgba(139,92,246,0.5)];
  }
}
